@font-face {
  font-family: 'bebas_neueregular';
  src: url('fonts/bebasneue-regular-webfont.woff2') format('woff2'),
       url('fonts/bebasneue-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}


@font-face {
  font-family: 'quicksandregular';
  src: url('fonts/quicksand-regular-webfont.woff2') format('woff2'),
       url('fonts/quicksand-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}


@font-face {
  font-family: 'quicksandlight';
  src: url('fonts/quicksand-light-webfont.woff2') format('woff2'),
       url('fonts/quicksand-light-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}
/* General setup */

* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  min-width: 1000px;
  max-width: 1400px;
  background: lightgrey;
  font-family: 'quicksand', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 16px;

}

/* Layout */

section {
  float: left;
  width: 50%;
}

aside {
  float: left;
  width: 30%;
}

nav {
  float: left;
  width: 20%;
}

footer {
  clear: both;
}

header, section, aside, nav, footer {
  padding: 20px;
}

/* header and footer */

header, footer {
  border-top: 5px solid #a66;
  border-bottom: 5px solid #a66;
}

/* WRITE YOUR CODE BELOW HERE */

html{
  font-size:10px;
}

h1, h2, h3{
  font-family: 'bebas_neueregular', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; 
  letter-spacing: .5rem;
}

h1{
 font-size: 4rem;
 kerning: auto;
}

h2{
  font-size:3rem;
  kerning: auto;
}


p{
  font-size: 1.7rem;
  line-height: 2.8rem;
}

li{
  margin-block:1rem;
}